body {
  font-family: sans-serif;
  background-color: rgba(16, 38, 110, 0.836)
};

#mainpage {
  background-color: pink;
}

#movielist {
  display: grid;
  background-color: rgb(119, 135, 170);
  grid-template-columns: repeat(5,280px);
  justify-self: center;
  justify-content: center;
  
};

.moviepicture {
  background-color: rgb(40, 71, 37);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favtable {
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 3px solid rgb(18 15 22);
  border-style: groove;
}

th {
  border: 5px solid #5a4087;
  border-style: outset;
}